<DOCTYPE html>
    <html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <center><body>

    <div th:replace="fragments :: page-header"></div>

        <p>Choose your toppings and build your pie</p>

    <select>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="xl">Extra Large</option>
    </select>

    <div>

    <input type="checkbox" id="topping1" name="topping1" value="Pepperoni">
    <label for="topping1"> Pepperoni</label><br>
    <input type="checkbox" id="topping2" name="topping2" value="Sausage">
    <label for="topping2"> Sausage</label><br>
    <input type="checkbox" id="topping3" name="topping3" value="Mushroom">
    <label for="topping3"> Mushroom</label><br>
    <input type="checkbox" id="topping4" name="topping4" value="Banana Pepper">
    <label for="topping4"> Banana Pepper</label><br>

    </div>








        </body></center>
    </html>